@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar.collapsed {
    width: 80px;
}
.logoContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    transition: opacity 0.5s ease;
}

.sidebar.collapsed .logo-details .logo_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

.sidebar .nav-links li button.active,
.sidebar .nav-links li button:hover {
    background: #081D45;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    transition: opacity 0.5s ease;
}

.sidebar.collapsed .nav-links li .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.collapsed~.home-section {
    width: calc(100% - 80px);
    left: 80px;
}

.home-section nav {
    justify-content: space-between;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 6px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.collapsed~.home-section nav {
    width: calc(100% - 80px);
    left: 80px;
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
}
.flexHeaderCol{
    display: flex;
    align-items: center;
    width: 100%;
}
.smallText{
    font-size: 11px;
    color: #414141;
    padding: 5px 0;
    width: 25%;

}
.fullWidth{
    display: block;
    width: 100%;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}

.home-content {
    position: relative;
    padding-top: 80px;
}