/* PatientRegistration.css */

.pr-forms {
    background-color: #f5f5f5;
    padding: 20px 50px;
    margin: 0 auto;
    border: 2px solid gray;
    width: 90%;
    max-width: 600px;
    border-radius: 2px;
}

.pr-field {
    margin-bottom: 15px;
}
.header-center{
    text-align: center;
    margin: 15px 0;
}

.pr-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
}
.flex{
    display: flex;
    gap: 10px;
}

.pr-field input[type="text"],
.pr-field input[type="date"],
.pr-field select,
.pr-field textarea {
    width: 100%;
    padding: 7px 12px;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
}

.pr-dob {
    display: flex;
    gap: 10px;
}

.pr-dob select {
    width: 32%;
}

.pr-payment-details {
    margin-top: 15px;
}

.pr-payment-details .pr-field {
    margin-bottom: 10px;
}

.pr-button {
    text-align: center;
}

.pr-button-submit {
    background-color: #0A2558;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.4s ease-in-out;
}

.pr-button-submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.pr-form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pr-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.pr-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.pr-input,
.pr-textarea,
.pr-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.pr-textarea {
    resize: vertical;
}

.pr-radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.pr-radio-label {
    margin-left: 5px;
    margin-right: 15px;
}

.pr-dob {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pr-age {
    margin-bottom: 20px;
}

.pr-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pr-button:hover {
    background-color: #0056b3;
}


/* Dashboard.css */



.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.stats-card {
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 380px;
    text-align: center;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all .2s linear;
    cursor: pointer;
    border: 3px solid transparent;
}
.stats-card:hover{
    /* transform: translateY(-5px); */
    border: 3px solid #000000;
}

.stats-card h2 {
    margin: 0;
    font-size: 1.2em;
}

.stats-card p {
    font-size: 2em;
    color: #0A2558;
    margin: 10px 0;
}

.count {
    transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.tracking-container {
    margin-top: 30px;
    padding: 0 10px;
}

.tracking-table {
    width: 100%;
    border-collapse: collapse;
}

.tracking-table th,
.tracking-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tracking-table th {
    background-color: #0A2558;
    color: white;
}

.tracking-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tracking-table tr:hover {
    background-color: #ddd;
}


.search-container {
    position: relative;
    margin-bottom: 20px;

}

.search-input {
    width: 400px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.date{
    width: 12%;
    padding:7px;
}

.status-button {
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .status-button.completed {
    background-color: green;
  }
  
  .status-button.not-completed {
    background-color: red;
  }
  

.filter-select{
    padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
}
.filter-container{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.clear-filters-button{
    padding: 7px 10px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    transition: all .2s linear;
}
.clear-filters-button:hover{
    background-color: #007bff;
    color: #ffffff;
}

.dropdown-list {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.search-button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tracking-table th,
.tracking-table td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

.highlight {
    background-color: #f0f0f0;
}

/* DoctorView */

.dct-view {
    padding: 20px 300px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dct-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.dct-subheading {
    font-size: 20px;
    margin: 20px 0;
    color: #555;
}

.dct-form {
    display: flex;
    flex-direction: column;
}

.dct-form-group {
    margin-bottom: 15px;
}

.dct-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.dct-input,
.dct-select,
.dct-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.dct-input {
    margin-bottom: 10px;
}

.dct-select {
    margin-bottom: 10px;
}

.dct-textarea {
    resize: vertical;
    min-height: 100px;
}

.dct-radio {
    margin-right: 10px;
}

.dct-radio-label {
    margin-right: 20px;
}

.dct-submit-button {
    background-color: #0A2558;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.dct-submit-button:hover {
    background-color: #082A45;
}

/* billing.css */
.billing {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.billing-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.billing-section {
    margin-bottom: 30px;
}

.billing-subheading {
    font-size: 20px;
    margin-bottom: 15px;
    color: #555;
}

.billing-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.billing-table th,
.billing-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.billing-table th {
    background-color: #0A2558;
    color: #fff;
}

.billing-summary {
    display: flex;
    justify-content: space-between;
}

.billing-summary-item {
    flex: 1;
    margin-right: 20px;
}

.billing-button {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.billing-button:hover {
    background-color: #c0392b;
}

/* HospitalData */


.hospital-data {
    padding: 20px 280px;
}

.hospital-data-heading {
    text-align: center;
    margin-bottom: 20px;
}

.hospital-data-section {
    margin-bottom: 20px;
}

.hospital-data-subheading {
    margin-bottom: 10px;
}

.hospital-data-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hospital-data-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
}

.hospital-data-button:hover {
    background-color: #0056b3;
}

.hospital-data-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}

.hospital-data-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hospital-data-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.legend-tag{
    padding: 20px 30px;
}

@media (max-width: 768px) {
    .pr-forms {
        padding: 20px;
        width: 100%;
    }

    .pr-dob {
        flex-direction: column;
    }

    .pr-dob select {
        width: 100%;
        margin-bottom: 10px;
    }
}


.billing {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .billing-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .billing-navigation button {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all .2s linear;
    border-radius: 3px;
  }
  
  .billing-navigation button:hover{
    background-color: #0A2558;
    color: #fff;
  }

  .billing-section {
    margin-top: 20px;
  }
  
  .billing-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .billing-table th, .billing-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .billing-table th {
    background-color: #0A2558;
    font-weight: bold;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
  }
  
  .popup-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .popup-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  .popup-content button {
    margin-right: 10px;
    padding: 10px;
  }
  
  .payCommission{
    border: 1px solid #414141;
    padding: 8px;
    text-align: left;
    transition: all .2s linear;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
  }
  .payCommission:hover{
    background-color: #003976;
    color: #fff;
  }

  .billing-section > p {
    margin: 10px 0;
  }


  /* doctor View */

  .dct-tab-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .dct-tab-button.active {
    background-color: #0056b3;
  }

  .dct-update-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .dct-view-button {
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .dct-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .dct-table th, .dct-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .dct-table th {
    background-color: #f2f2f2;
  }